@import "tailwindcss";



/* 👇 Custom Utilities and Animations */
@layer utilities {
  .animate-fade-in-up {
    opacity: 0;
    transform: translateY(50rem);
    animation: fade-in-up 0.90s ease-out forwards;
  }

  @keyframes fade-in-up {
    to {
      opacity: 5;
      transform: translateY(0);
    }
  }
}
